data_lectures.csv
data_questions_samp.csv
data_questions.csv
lectures.csv
merged_data.csv
questions.csv
sample_data.csv
train.csv
.DS_Store
advanced_ml/04_08_week/rating.csv
advanced_ml/02_06_week/superstore.csv
advanced_ml/03_07_week/superstore.xlsx
advanced_ml/04_08_week/anime.csv
advanced_ml/04_08_week/Electric Car.csv
advanced_ml/04_08_week/supermarket.csv
advanced_ml/module_3/data/product_description.csv
math_in_ml/data/Advertising.csv
PROJECT_HH/data/ExchangeRates.csv
advanced_ml/module_3/data/Electric_Car.csv
machine_learning_basics/data/boston_house_prices.csv
advanced_ml/module_5/data/dataset1.csv
.gitignore
.gitignore
advanced_ml/module_5/data/dataset2.csv
advanced_ml/module_5/data/dataset3.csv
data_engineering/tg_bot_nadarsa_service.py
data_engineering/yd_move_script.py
data_engineering/yd_move_script.py
data_engineering/data_engineering_project.ipynb
data_engineering/test.ipynb
deep_learning/project_1/mds-misis-dl-captchan/images_sub.npy
deep_learning/project_1/mds-misis-dl-captchan/images.npy
deep_learning/project_1/mds-misis-dl-captchan/sample_submission.csv
deep_learning/project_1/mds-misis-dl-captchan/labels.npy
MIPT_exams/deep_learning/data